<template name="home">
    <!--    <div class="home splash"></div>-->
    <div class="splash">
        <div class="ui container">
            <div class="ui basic segment">
                <h1 class="ui header jumbo">
                    <div>
                        Your shop.
                    </div>
                    <div>
                        Your brand.
                    </div>
                    <div>
                        Your payment experience.
                    </div>
                </h1>
            </div>
        </div>
    </div>
    <div class="ui container">
        <div class="ui basic segment">
            <div class="ui middle aligned centered stackable grid">
                <div class="row">
                    <div class="four wide column">
                        <img class="ui image" src="/images/logo-connect.png">
                    </div>
                    <div class="eight wide column">
                        <p class="big grey">
                            Your website is beautifully crafted to represent your own brand. Why should your payment pages be any different?
                        </p>
                        <p class="big grey">
                            With Ingenico Connect, you can create beautiful payment pages in seconds, without any technical knowledge. Integrate with Connect now and give your customers the payment experience they deserve.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
